.cards {
  font-family: Karma;
  padding:6rem;
  text-align:center;
  margin:0 auto;
}
.cards h1 {
  font-size:3rem;
  color: #000;
  margin-bottom: 1rem;
}

.cards p {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 30px;
}

.cards__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:5rem;
  padding: 0;
  list-style: none;
  max-width: 100%;
}

.cards__item {
  background: #f9f9f9;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cards__item:hover {
  transform: scale(1.05);
}

.cards__item__pic-wrap {
  padding:3rem;
  margin: 0;
}

.cards__item__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cards__item__info {
  padding: 2rem;
  text-align: left;
}

.cards__item__title {
  font-size:2rem;
  color: #000;
  margin-bottom:1rem;
  font-weight: bold;
}

.cards_item_text {
  font-size: 0.9rem;
  color: #333;
  line-height:1.5;
}
img{
  width:50rem;
  height:50rem;
  object-fit: cover;
}
@media (max-width: 768px) {
  .cards {
    font-family: Karma;
    display:block;
    flex-direction: column;
  }
  .cards h1 {
    font-size:3rem;
    color: #000;
    margin-bottom:1rem;
  }
  
  .cards p {
    font-size:1.3rem;
    color: #000;
    margin-bottom: 30px;
  }
  
  .cards__items {
   display:block;
   margin-bottom: 2rem;
    gap:5rem;
    padding: 0;
    list-style: none;
    max-width: 100%;
  }
  
  .cards__item {
    background: #f9f9f9;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  }
  
  .cards__item:hover {
    transform: scale(1.05);
  }
  
  .cards__item__pic-wrap {
    padding:3rem;
    margin: 0;
  }
  
  .cards__item__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .cards__item__info {
    padding: 2rem;
    text-align:left;
  }
  
  .cards__item__title {
    font-size:2rem;
    color: #000;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .cards_item_text {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.5;
  }
  img{
    width:50rem;
    height:50rem;
    object-fit: cover;
  }
}
 
