.footer-section{
    display:block;
    background:#f8f8f8;
    justify-content:center;
    text-align: center;
}
.footer-socials{
    font-size:3rem;
}
.socials{
    gap:2rem;
}
.socials__InstagramIcon{
    color: black;
}
.socials__InstagramIcon:hover{
    color:#7538B2;;
}