
.hero-container {
    display: flex;
    justify-content: space-around; /* Space out image and text */
    align-items: center; /* Vertically center items */
    padding: 2rem;
    gap:2rem;
    text-align: left;
  }
  
.hero-image img {
    /* width: 50%;  Take up half the container */
    max-width: 50rem; /* Maximum width */
    height: auto; /* Maintain aspect ratio */
  }
  
.hero-content {
    /* width: 50%; */
    padding-left: 2rem;
  }
.hero-content .hero-content-title{
font-family: Labrada;
font-weight: 400;
font-size:4rem;
color: #000;
gap:2rem;
  }
.hero-content p {
font-family: Karma;
 color: #000;
font-weight: 400;
font-size: 1.5rem;
  }
  
  .hero-title {
    font-size: 4.8rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 2rem;
    max-width: 60rem;
    line-height: 1.2;
  }
  
  
  /* Button Styles (assuming you have a separate CSS file or a global style) */
  
  
/* Button.css */
.get-started-button { /* Purple color */
    color: white;
    padding: 1.2rem 2.4rem;
    background: #7538B2;
    border: none;
    border-radius: 2.5rem; /* Fully rounded corners */
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition:0.5s ease;
  }
  
  .get-started-button:hover {
    background-color:#fff;
    color: #7538B2;/* Darker purple on hover */
  }
  
  .login-button {
   /* Transparent background */
   background: white;
    color: #7538B2; /* Purple color */
    padding: 1rem 2.4rem;  /*slightly different padding to match image*/
    border: 2px solid #7538B2;;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 1s ease;
  }
  
  .login-button:hover {
    border: none;
    background-color: #7538B2;
    color: white;/* Light background on hover, to match image*/
  }
  /* Added to make buttons appear side-by-side and spaced */
  button {
    margin-right:1rem; 
    width:15rem;
    height:auto;/* Add horizontal margin between buttons */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      text-align: center;
    }
    .links {
      flex-direction: column;
    }
    .hero-container {
      flex-direction: column;
      text-align: center;
    }
    .hero-image img{
      width: 100%;
      max-width: 100%;
    }
    .hero-content{
      width: 100%;
      padding-left: 0;
    }
  }
  